* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans Flex", Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.1rem;

}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

h1,i {

    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;

}

h2 {

    font-size: 1.8rem;

}

h3 {

    font-size: 1.4rem;

}

header {

    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

main {

    display: flex;
    flex-direction: column;
    gap: 25px;

    & .main-row {

        display: flex;
        flex-direction: row;
        align-items: center;

        & label {

            margin-right: 15px;
            min-width: 150px;
            font-weight: 500;

        }

        & input[type="number"], input[type="text"] {
            
            width: 120px;
            border: 0;
            border-radius: 20px;
            background-color: lightgray;
            padding: 10px 20px;
            margin: 0;
            font-weight: 400;

            & ::selection {

                border: 0;

            }

        }

        & #scale-container {

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: lightgray;
            border-radius: 20px;
            width: 120px;
            padding: 0px 20px;

            & div {

                font-weight: 400;

            }

            & #scale {

                background-color: transparent;
                padding-left: 4px;
                width: 60px;

            }

        }

        & .custom-select {

            display: flex;
            margin-left: 15px;

            & .custom-select-option {

                padding: 10px 20px;
                min-width: 50px;
                background-color: lightgray;
                font-weight: 300;
                letter-spacing: 2px;

            }

            & .selected {

                background-color: rgb(70, 70, 70);
                color: white;

            }

            & :nth-child(1) {

                border-radius: 15px 0px 0px 15px;

            }

            & :nth-child(4) {

                border-radius: 0px 15px 15px 0px;

            }

            & :hover {

                background-color: gray;
                color: white;

            }

        }

    }

}

footer {

    margin-top: 40px;

}