* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50, 47, 70);

}

header {

    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 32, 47);

}

main {

    display: flex;
    flex-direction: column;

    & .main-row {

        display: flex;
        flex-direction: row;

        & input[type="number"] {
            border: 0;
            background-color: transparent;
        }

        & .custom-select {

            & .custom-select-option {

            }

            & .selected {

                background-color: red;

            }

        }

    }

}

footer {

}