* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50, 47, 70);

}

header {

    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 32, 47);

}

main {

    display: flex;
    flex-direction: column;

    & .main-row {

        display: flex;
        flex-direction: row;

        & input[type="number"] {
            
            border: 0;
            background-color: transparent;

        }

        & .custom-select {

            display: flex;

            & .custom-select-option {

                padding: 10px 20px;
                min-width: 50px;
                background-color: rgb(37, 41, 67);

            }

            & .selected {

                background-color: rgb(61, 67, 108);

            }

            & :nth-child(1) {

                border-radius: 15px 0px 0px 15px;

            }

            & :nth-child(4) {

                border-radius: 0px 15px 15px 0px;

            }

            & :hover {

                background-color: rgb(53, 58, 93);

            }

        }

    }

}

footer {

}